body {
    text-align: center;
    background: color #e0e0e0;
};
 
h1 {
    margin: 1rem;
}

img{
    margin:1rem;
    width:auto;
    height:30vh;
    margin:auto ;
}

textarea {
    width: 60%;
    height: 10vh;
    display: block;
    margin: 0.5rem auto;
    padding: 1rem;
    outline:none;
    background-color: whitesmoke;
    border: 4px solid #A78BFA;
    border-radius: 2rem;
    box-shadow:  11px 11px 22px #bebebe,
    -11px -11px 22px #ffffff;
}

#output {
    width :60%;
    height:10vh;
    margin: 0.5rem auto;
    display: block;;
    padding: 1rem;
    background-color: whitesmoke;
    font-size: 1rem;
    border: 4px solid #A78BFA;
    border-radius: 2rem;
    box-shadow:  11px 11px 22px #bebebe,
             -11px -11px 22px #ffffff;
}


button{
    font-weight:200;
    color:black;
    padding:1rem;
    margin: 2rem ;
    outline: none;
    border-bottom-left-radius:5px;
    background: #A78BFA;
    box-shadow:  11px 11px 22px #bebebe,
             -11px -11px 22px #ffffff;
    border-radius: 1rem;
}
button:hover{
    background: white;
    color:#A78BFA;
}

.container {
    display:block;
    text-align: center;
    color:#A78BFA;
    font-weight: bold;
}
a{
    color:#A78BFA;   
}